BANCO_SQLITE=/dados/registros.db
DIRETORIO_CHROMA=/dados/chroma
LM_STUDIO_BASE_URL=http://host.docker.internal:1234/v1
MODELO_EMBEDDING=text-embedding-nomic-embed-text-v1.5
LIMITE_CONTEXTO=3
MAX_TOKENS_RESPOSTA=900
